if process.env.isProd
  nav(
    data-sly-test="${currentStyle}"
    is='xp-global-navbar-${resource.name}-${resource.parent.name}' 
    class="navbar navbar-expand-lg w-100 ${currentStyle.navCSSClasses}"
  )
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Dropdown
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            .dropdown-divider
            a.dropdown-item(href='#') Something else here
        li.nav-item
          a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
      form.form-inline.my-2.my-lg-0.ml-auto
        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        span
          sly(data-sly-resource="${ 'navButton' @ resourceType='/apps/reebok/dist/components/bootstrap/button' }") 

  
  sly(data-sly-test="${wcmmode.isEdit}")
    div(
      class="container border border-info" 
      data-sly-test="${!currentStyle}"
    )
      span.badge.badge-info Please update Policy for ${resource.name}
    
else 
  
  nav(
    is="xp-global-navbar-sample"
    class="navbar navbar-expand-lg navbar-dark bg-primary w-100"
  )
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Dropdown
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            .dropdown-divider
            a.dropdown-item(href='#') Something else here
        li.nav-item
          a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
      form.form-inline.my-2.my-lg-0.ml-auto
        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        //- button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        span 
          include /components/bootstrap/button/button
