if process.env.isProd
  div(
    data-sly-test="${currentStyle}"
    is='xp-global-sixCellLayout-${resource.name}-${resource.parent.name}'
    class="${currentStyle.outerContainerCSSClass}" 
  )
    div(class="row ${currentStyle.innerContainerCSSClass}")
      .col-sm-9.p-0.d-flex.flex-wrap
        // LEFT-SIDE - ROW-1
        .row.m-0.p-0
          // CARD 1
          .col-md-8.p-0.d-flex
            sly(data-sly-resource="${ 'cell1' @ resourceType='/libs/wcm/foundation/components/responsivegrid' }")
          // CARD 2
          .col-md-4.p-0.d-flex
            sly(data-sly-resource="${ 'cell2' @ resourceType='/libs/wcm/foundation/components/responsivegrid' }")
        .row.m-0
          // CARD 3
          .col-md-4.p-0.d-flex
            sly(data-sly-resource="${ 'cell3' @ resourceType='/libs/wcm/foundation/components/responsivegrid' }")

          // CARD 4
          .col-md-4.p-0.d-flex
            sly(data-sly-resource="${ 'cell4' @ resourceType='/libs/wcm/foundation/components/responsivegrid' }")
              
          // CARD 5
          .col-md-4.p-0.d-flex
            sly(data-sly-resource="${ 'cell5' @ resourceType='/libs/wcm/foundation/components/responsivegrid' }")
              
      .col-sm-3.p-0
        .bg-white.m-2.p-2.position-absolute.all-0.d-flex.flex-column
          h4 Social Sidebar...
          hr
          .d-flex.overflow-auto
            p
              | Topping candy tiramisu souffl&eacute; fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halva fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. opping candy tiramisu souffl&eacute; fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halva fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. opping candy tiramisu souffl&eacute; fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halva fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halvafruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halvafruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halvafruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halvafruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halva

  
  sly(data-sly-test="${wcmmode.isEdit}")
    div(
      class="container border border-info" 
      data-sly-test="${!currentStyle}"
    )
      span.badge.badge-info Please update Policy for ${resource.name}
    
else 
  
    include /components/bootstrap/card/card
    div.container.bg-light(is="xp-global-sixCellLayout-sample")
      .row
        .col-sm-9.p-0.d-flex.flex-wrap
          // LEFT-SIDE - ROW-1
          .row.m-0.p-0
            // CARD 1
            .col-md-8.p-0.d-flex.p-2
              +card("xp-bootstrap-card-sample-1")(linkClass="btn btn-primary", imgSrc="https://via.placeholder.com/700x250")
            // CARD 2
            .col-md-4.p-0.d-flex.p-2
              +card("xp-bootstrap-card-sample-2")(linkClass="btn btn-primary" imgSrc="https://via.placeholder.com/400x310")
          .row.m-0
            // CARD 3
            .col-md-4.p-0.d-flex.p-2
              +card("xp-bootstrap-card-sample-3")(imgSrc="https://via.placeholder.com/400x250" linkClass="btn btn-primary")
            // CARD 4
            .col-md-4.p-0.d-flex.p-2
              +card("xp-bootstrap-card-sample")(imgSrc="https://via.placeholder.com/400x250" linkClass="btn btn-primary")
            // CARD 5
            .col-md-4.p-0.d-flex.p-2
              +card("xp-bootstrap-card-sample")(imgSrc="https://via.placeholder.com/400x250" linkClass="btn btn-primary")

        div.col-sm-3.p-0
          div.bg-white.m-2.p-2.position-absolute.all-0.d-flex.flex-column.border.border-1
            h4 Social Sidebar...
            hr
            div.d-flex.overflow-auto
              p
                | Topping candy tiramisu souffl&eacute; fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halva fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. opping candy tiramisu souffl&eacute; fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halva fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. opping candy tiramisu souffl&eacute; fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halva fruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halvafruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halvafruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halvafruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halvafruitcake ice cream chocolate bar. Bear claw ice cream chocolate bar donut sweet tart. Pudding cupcake danish apple pie apple pie. Halva
 
