if process.env.isProd
  div(
    data-sly-test="${currentStyle}"
    is='xp-global-2Column-${resource.name}-${resource.parent.name}'
    class="${currentStyle.outerContainerCSSClasses}" 
  )
    div(class="${currentStyle.innerContainerCSSClasses}")
      div.col-6
        h1.p-2.bg-primary.text-white Contact Information
        
      div.col-6
        h1.p-2.bg-primary.text-white Social Navigation
          span
            sly(data-sly-resource="${ '2columnExperienceButton' @ resourceType='/apps/reebok/dist/components/bootstrap/button' }")
  
  sly(data-sly-test="${wcmmode.isEdit}")
    div(
      class="container border border-info" 
      data-sly-test="${!currentStyle}"
    )
      span.badge.badge-info Please update Policy for ${resource.name}
    
else 
  
  div.container.bg-dark.p-2(is="xp-global-2Column-sample")
    div.row
      div.col-6
        h1.p-2.bg-primary.text-white Contact Information
        
      div.col-6
        h1.p-2.bg-primary.text-white Social Navigation
        span
          include /components/bootstrap/button/button
     
    
