if process.env.isProd
  div(
    data-sly-test="${currentStyle}"
    is='xp-global-container-${resource.name}-${resource.parent.name}' 
    class="${currentStyle.outerContainerCSSClass}"
  )
    div(class="${currentStyle.innerContainerCSSClass}")
      sly(
        data-sly-test.resourceName="xp-container-${resource.name}-${resource.parent.name}"
        data-sly-resource="${ resourceName  @ resourceType='/libs/wcm/foundation/components/responsivegrid' }")

  div(
    data-sly-test="${wcmmode.isEdit}"
    class="container border border-info" 
    data-sly-test="${!currentStyle}"
  )
    span.badge.badge-info Please update Policy for ${resource.name}
    
else 
  
    div.container.my-1(is="xp-global-container-sample-1")
      div.row
        include /components/global/navbar/navbar
    
    div.container.my-1(is="xp-global-container-sample-2")
      div.row  
        include /components/global/bootstrapCarousel/bootstrapCarousel
