if process.env.isProd
  button(
      data-sly-test="${currentStyle}"
      is='xp-bootstrap-button-${resource.name}-${resource.parent.name}'
      type="button"
      class="${currentStyle.buttonCSSClasses}"
      :bootstrap-button-config="BootstrapButtonConfig"
      @click="buttonClicked();"
    ) Test
  
  sly(data-sly-test="${wcmmode.isEdit}")
    div(
      class="container border border-info" 
      data-sly-test="${!currentStyle}"
    )
      span.badge.badge-info Please update Policy for ${resource.name}
    
else 
  
  button.btn.btn-primary(
    is="xp-bootstrap-button-sample"
    type="button"
    :bootstrap-button-config="BootstrapButtonConfig"
    @click="buttonClicked();"
  ) Primary
