if process.env.isProd
  div(
    data-sly-test="${currentStyle}"
    is='xp-bootstrap-card-${resource.name}-${resource.parent.name}' 
  )
  
  sly(data-sly-test="${wcmmode.isEdit}")
    div(
      class="container border border-info" 
      data-sly-test="${!currentStyle}"
    )
      span.badge.badge-info Please update Policy for ${resource.name}
    
else 
  
  div(is="xp-bootstrap-card-sample")
    h1 The Reebok Card Component 
