doctype html
head
  meta(charset='utf-8')
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  )
  title AEM FE Dev App
body
  h1.bg-dark.text-success.p-2 This is the construct...
  div#app
    include /experiences/global/sixCellLayout/sixCellLayout
    
  //- div.col-3
  //-   +card("xp-bootstrap-card-${resource.name}-${resource.parent.name}")(
  //-     linkClass="btn btn-primary"
  //-     imgSrc="${properties.imgSrc}"
  //-   )
    
